* {
    margin: 0;
    padding: 0;
    letter-spacing: 5px;
    user-select: none;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container-block {
    height: 10em;
}

.title {
    font-size: 60px;
    padding: 30px;
}

.text {
    font-size: 30px;
}

.form {
    display: flex;
}

.input {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: normal;
    font-size: 20px;
    margin: 0 10px;
    padding: 5px 10px;
}

.btn {
    font-size: 20px;
    background-color: #fff;
    border: 2px solid black;
    color: black;
    padding: 5px 10px;
    cursor: pointer;
}

.btn:hover {
    background-color: black;
    color: #fff;   
}

.btn:active {
    background-color: rgb(59, 59, 59);
    border: 2px solid rgb(59, 59, 59);
}

.palindrome-result {
    position: absolute;
    top: -50px;
    left: 0;
    right: 0;
}

.move {
    animation: move 3s 1;
}

@keyframes move {
    0% {top: -50px;}
    20% {top: 40px;}
    80% {top: 40px;}
    100% {top: -50px;}
}